<%-include header%>
   <div id="content">
	   
	   <!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
  <div class="container-fluid">
	 
<a type="button" href="/postProduct" class="btn btn-primary btn-lg btn-block">
      发布产品
</a>
<table class="table" contenteditable="true">
	<thead>
		<tr>
			<th>景点类型</th>
			<th>景点标题</th>
			<th>价格</th>
			<th>好评率</th>
			<th>出发地</th>
			<th>目的地</th>
			
		</tr>
	</thead>
	<tbody>
		<tr class="success">
			<td>1</td>
			<td>自驾</td>
			<td>1200</td>
			<td>80</td>
			<td>上海</td>
			<td>南京</td>
		</tr>
		
	</tbody>
</table>
    </div>
   </div>
 
    <%- include footer%>