<%-include header%>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
   
    <div id="tab1" class="tab-pane active" style="width:1000px; margin:auto">
              <p><%= article.content%></p>
            
   
</div>
</div>

<%-include footer%>
